
@font-face {
    font-family: "Open sans";
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Patua One";
    src: url(fonts/PatuaOne-Regular.ttf);
}

@font-face {
    font-family: "Roboto Slab";
    src: url(fonts/RobotoSlab-Regular.ttf);
}
